.news-list {
  list-style: none;
  padding-inline-start: 0px;
  width: 80%;
  margin: 0 auto;
}

.news-list li {
  box-sizing:content-box;
  padding: 10px;
  background: #eee;
  border: #333;
  border-left: 3px transparent solid;
  margin: 5px;
}

.news-list li:hover {
  position: relative;
  left: 0px;
  top: 0px;
  border-left: 3px goldenrod solid;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.search-panel {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0.5em;
}

.search-panel input {
  margin-left: 5px;
  font-size: 1.2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.api-reminder {
  display: block;
  margin: 0 auto;
  text-align: center;
}
